
.price-list {
  overflow: visible;
  margin-left: 16px;
  margin-right: 16px;
}

.price-list__list {
  display: flex;
  overflow: visible;
  padding-left: 0;
  
}

@media (min-width: $miniDesktopWidth) {
  .price-list__list {
    flex-direction: column;
  }
}

.price-list__item {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  flex-shrink: 0;
  min-height: 200px;

  &--header {
    display: none;
  }
}
@media (min-width: $miniDesktopWidth) {
  .price-list__item {
    flex-wrap: nowrap;
    min-height: 0;
    border-radius: 0;
    align-items: center;
    width: auto;
    position: relative;

    &--header {
      display: flex;
      background-color: transparent;

      color: #7E7E82;

      &::before {
        display: none;
      }
    }
      &::before {
        display: none;
      }
    }
  }

.price-list__span {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
 
}

@media (min-width: $miniDesktopWidth) {
  .slider-section--price{
  height: 100%;
  min-height: 420px;
}
  .price-list__span {
    display: block;
    margin-bottom: 0;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 5px;
    
    &:nth-child(1) {
      width: 50%;
      padding-left: 0;
      flex-grow: 1;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:last-child {
      width: 120px;
    }

    &::before {
      display: none;
    }
  }
}

@media (min-width: $miniDesktopWidth) {
  .price-list__pagination {
    display: none;
  }
}

@media (min-width: $miniDesktopWidth) {
  .price-list__btn {
    min-width: 120px;
  }
}
@media (min-width: 768px){
.price-list__item{
  &:not(:first-child){
  &:not(:last-child){
  &::after {
    content: '';
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 1px;
    background-color: #EAEAEA;
}}
}}
}